.main{
  min-height: 100vh;
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
  }
}