.main{
  min-height: 100vh;
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
  }
}


.loading {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #666;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid #666;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.error {
  color: #d32f2f;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}